<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /study/
  
  # If the requested file or directory exists, serve it directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # For all other requests, serve index.html
  RewriteRule ^ index.html [L]
</IfModule>
